*   {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.btn    {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eceef0;
    color: #212529;
    margin-bottom:5px;
    
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.btn:hover  {
    background:#212529;
    color:#f8f9fa;
    border:solid 2px #f8f9fa;
}
.display    {
   width: 100%;
   margin-top:20px;
   margin-bottom:10px;
   height:60px;
   border-radius:10px;
   background-color:#212529;
   border:none;
   color:#f8f9fa;
   padding:20px;
   font-size:25px;
   text-align:right;
    
}
#display:focus{
    outline:none;
    
}
.container    {
    margin: 5px;
    border:solid 2px #212529;
    width:250px;
    text-align:center;
    background: #f8f9fa;
    border-radius:20px;
    
}
.main   {
    width:100px;
    border-radius: 10px;
    height: 40px;
    margin-bottom:5px;
    margin-top:5px;
}
.div{
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    min-width:305px;
}